# BBDD
DB_HOST=db
DB_NAME=tower_of_wonder
DB_USER=admin_tow_bbdd
DB_PASS=tu_password_aqui
DB_ROOT_PASSWORD=tu_password_de_admin_aqui

JWT_SECRET=tower-of-wonder-tfg-secret-key-minimo-32-caracteres

# Gmail SMTP
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_app_password_16_chars
MAIL_FROM=tu_correo@gmail.com
MAIL_FROM_NAME=Tower of Wonder

ADMIN_EMAIL=tu_correo@gmail.com
FRONTEND_URL=tu_url