DB_HOST=db
DB_NAME=tower_of_wonder
DB_USER=admin_tow_bbdd
DB_PASS=tu_password_aqui

# Gmail SMTP
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_app_password_16_chars
MAIL_FROM=tu_correo@gmail.com
MAIL_FROM_NAME=Tower of Wonder
MAIL_TO=tu_correo@gmail.com