# Variables sensibles
.env

# Docker volúmenes
db_data/

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/

# Build de React (generado por Vite/Docker)
php/public/assets/dist/

# Composer
php/vendor/

# Node
frontend/node_modules/